.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container>div {
    background-color: #f1f1f1;
    width: 350px;
    margin: 10px;
    text-align: center;
    font-size: 13px;
    padding: 10px;
}

.div1 {
    border-style: solid;
    border-width: medium;
}

.menu {
    text-align: center;
}

.dischicken {
    background-color: pink;
    float: right;
}

.Beef {
    background-color: rgb(94, 206, 198);
    float: right;
    text-decoration-color: azure;
}

.Shushi {
    background-color: rgb(194, 187, 49);
    float: right;
}